/CMakeLists.txt~
/README.org~
/build/
/src/main.cpp~
/.cache/
/src/ImuMeasuremenntModel.hpp~
/src/OdomMeasurementModel.cpp~
/src/OdomMeasurementModel.hpp~
/src/SystemModel.hpp~
/src/Code/
/src/example/
/data/plotscript.gp~
/data/angleplot.gp~
/data/compile_script_from_build.sh~
/data/frameplot.gp~
/data/kfplot.gp~
/data/angleplot_odom.gp~
/data/plotscript_odom.gp~
/ltximg/
/texfrag/
