[submodule "kalman"]
	path = kalman
	url = https://github.com/ujwacha/kalman-1.git
[submodule "rapidcsv"]
	path = rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "LowPassFilter"]
	path = LowPassFilter
	url = https://github.com/jimmyberg/LowPassFilter.git
